@charset "UTF-8";

body{
 width:70%;
 margin: 0 auto;
 padding: 130px;
}
.button{
	border:1x solid #0099FF;    /*---테두리 정의---*/
	background-Color:#0099FF;   /*--백그라운드 정의---*/
	color:#000000;    /*--폰트 색깔---*/
	width:60; height:25;  /*--버튼 크기---*/
}
table {
   width: 100%;
   border: 1px solid #444444;
   border-collapse: collapse;
      }
 th, td {
    border: 1px solid #444444;
    padding: 10px;
  }

.title{
	margin: 0 0 10px 0;
	
}
.top{
  float:right;
  height: 25px;
  margin: 0 0 10px 0;	
}
.bottom{
	text-align: center; 
	height: 25px;
	margin: 10px 0 0 0;
}	
.pagination{
	display: inline-block;
	text-align: center; 
}

.pagination ul{
  display: inline-block;
  color: black;
  float: left;
  padding: 8px 16px;
  list-style: none;
  border-radius:50%;
}

.pagination li{
  display: inline-block;
  padding: 5px 12px;
  border-radius:50%;
}

.pagination a {
  text-decoration: none;
  display: block;
  padding: 10px;
}

.pagination li.active {
  background-color: #7b7b7b;
  color: white;
}

.pagination li:hover:not(.active) {background-color: silver;}

.writeBtn{
	float:right;
	display: inline-block;
	text-align: right;
}

 li:link { color: blue; text-decoration: none;}
 li:hover { color: red; text-decoration: none;}
