@charset "UTF-8";

body{
 width:70%;
 margin: 0 auto;
 padding: 130px;
}
.title{
	width:70%;
	display: flex;	
	margin: 0 0 50px 0;
}

.back{
	margin-right: 15px;
}
.middle{
	
}

.bottom{
	width: 700px;
	margin-top : 20px;
	margin-left : 15px;
	display:flex;
	justify-content: space-around;
}

table {
   width: 70%;
   border: 1px solid #444444;
   border-collapse: collapse;
}

th, td {
    border: 1px solid #444444;
    padding: 10px;
}

.button{
	border:1x solid #0099FF;    /*---테두리 정의---*/
	background-Color:#0099FF;   /*--백그라운드 정의---*/
	color:#000000;    /*--폰트 색깔---*/
	width:80; height:35;  /*--버튼 크기---*/
}
.button-delete{
	border:1x solid #BDBDBD;    /*---테두리 정의---*/
	background-Color:#BDBDBD;   /*--백그라운드 정의---*/
	color:#000000;    /*--폰트 색깔---*/
	width:80; height:35;  /*--버튼 크기---*/
}