@charset "UTF-8";

body{
 width:70%;
 margin: 0 auto;
 padding: 130px;
}

.title{
	display: flex;	
	margin: 0 0 50px 0;
}

.back{
	margin-right: 15px;
}
.middle{
	text-align: center;
}
.bottom{
	float: right;
	margin: 5px 0 0 0;
}
table {
   width: 100%;
   border: 1px solid #444444;
   border-collapse: collapse;
}
th, td {
    border: 1px solid #444444;
    padding: 10px;
}

.button{
	border:1x solid #0099FF;    /*---테두리 정의---*/
	background-Color:#0099FF;   /*--백그라운드 정의---*/
	color:#000000;    /*--폰트 색깔---*/
	width:60; height:25;  /*--버튼 크기---*/
}